java/bin
java/build
java/.classpath
java/.project
java/.settings
java/.gradle
*.class

dotnet/TestResult.xml
dotnet/src/**/Bin/**
dotnet/src/**/Obj/**
dotnet/lib
dotnet/*.csproj.user
dotnet/src/*.suo